server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        target_label: container
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: app

  - job_name: local-review
    static_configs:
      - targets: [localhost]
        labels:
          job: local-spring
          service: review-service
          __path__: /host-logs/review-service.log

  - job_name: local-book
    static_configs:
      - targets: [localhost]
        labels:
          job: local-spring
          service: book-service
          __path__: /host-logs/book-service.log
